.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/pages/BasePage.class
target/classes/pages/BuildPage.class
target/classes/pages/LoginPage.class
target/classes/pages/MainPage.class
target/classes/pages/ProjectPage.class
target/test-classes/SeleniumTests.class
/target/
reports/screenshots/
.idea
*.iml